/* font family */
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", serif;
}

/* ====Header==== */
.back-header {
  width: 100%;
  background-color: #e97000;
}
.header {
  width: 1450px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .privacy {
  display: flex;
  gap: 15px;
}
.header .privacy a {
  text-decoration: none;
  font-size: 19px;
  font-weight: 700;
  color: white;
}
.header .promotion {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 18px;
  padding: 8px 0;
}
.header .country {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header .country button {
  border: none;
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.header .country button i {
  font-size: 15px;
}
/* =====End of Header===== */

/* =====Navbar Section===== */
.back-navbar {
  width: 100%;
  background-color: #fff7ee;
}
.navbar {
  width: 1450px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.setting {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search {
  display: flex;
}
.search input {
  width: 450px;
  padding: 15px 20px;
  font-size: 19px;
  border: 1px solid gray;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  outline: none;
  color: rgb(133, 133, 133);
}
.search button {
  border: none;
  width: 100px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #e97000;
  font-size: 20px;
  color: white;
}
.support {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 7px 15px;
  border-radius: 15px;
  border: 1px solid rgb(235, 226, 216);
  cursor: pointer;
}
.support p {
  font-weight: 600;
  transition: all 0.3s;
}
.support p:nth-child(2):hover {
  color: #e97000;
}
.support i {
  font-size: 30px;
  color: #434343;
}
.support:nth-child(2){
    width: 230px;
}
.support:nth-child(4){
    height: 55px;
}