/* font family */
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", serif;
}
body {
  height: 500vh;
}
/* ====Header==== */
.back-header {
  width: 100%;
  background-color: #e97000;
}
.header {
  width: 1450px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .privacy {
  display: flex;
  gap: 15px;
}
.header .privacy a {
  text-decoration: none;
  font-size: 19px;
  font-weight: 700;
  color: white;
}
.header .promotion {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 18px;
  padding: 8px 0;
}
.header .country {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header .country button {
  border: none;
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.header .country button i {
  font-size: 15px;
}
/* =====End of Header===== */

/* =====Navbar Section===== */
.back-navbar {
  width: 100%;
  background-color: #fff7ee;
}
.navbar {
  width: 1450px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.setting {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search {
  display: flex;
}
.search input {
  width: 450px;
  padding: 15px 20px;
  font-size: 19px;
  border: 1px solid gray;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  outline: none;
  color: rgb(133, 133, 133);
}
.search button {
  border: none;
  width: 100px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #e97000;
  font-size: 20px;
  color: white;
}
.support {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 7px 15px;
  border-radius: 15px;
  border: 1px solid rgb(235, 226, 216);
  cursor: pointer;
}
.support p {
  font-weight: 600;
  transition: all 0.3s;
}
.support p:nth-child(2):hover {
  color: #e97000;
}
.support i {
  font-size: 30px;
  color: #434343;
}
.support:nth-child(2) {
  width: 230px;
}
.support:nth-child(4) {
  height: 55px;
}

/* ======Menu Section =========== */
.back-menu {
  width: 100%;
  background-color: #fdf0e1;
}
.menu-section {
  width: 1450px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.category {
  display: flex;
  align-items: center;
  gap: 15px;
}
.category i {
  font-size: 25px;
}
.category select {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 700;
}
.category select:hover {
  color: #e97000;
}

.menu {
  display: flex;
  gap: 45px;
}
.menu li {
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  color: #3c3c3c;
}
.menu li:hover {
  color: #e97000;
}
.menu li:first-child {
  color: #e97000;
}
.menu li:nth-child(2) {
  position: relative;
}
.menu li:nth-child(2):hover .sub-menu {
  height: 340px;
}
.sub-menu {
  position: absolute;
  background-color: #fdf0e1;
  width: 100vw;
  top: 45px;
  height: 0;
  left: -606px;
  transition: all 0.5s ease;
  overflow: hidden;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.a {
  padding: 20px;
}
.menu-cards {
  width: 1450px;
  margin: auto;
  display: grid;
  margin-top: 20px;
  gap: 30px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 330px;
}
.card {
  width: 100%;
  height: 100%;
  text-align: center;
}
.card h4 {
  margin-top: 15px;
}
.card .image-container {
  width: 100%;
  height: 260px;
  border-radius: 25px;
  overflow: hidden;
  border: 2px solid #ebe2d8;
}
.card .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu li:nth-child(4) {
  position: relative;
}
.menu li:nth-child(4):hover .page-sub-menu {
  height: 115px;
}
.page-sub-menu {
  position: absolute;
  background-color: #fdf0e1;
  overflow: hidden;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 200px;
  top: 45px;
  transition: all 0.2s ease;
  height: 0;
}
.page-sub-menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 25px;
}

.discount {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: #e97000;
  font-weight: 600;
}
.discount i {
  color: #3c3c3c;
}

/* Banner */
.back-banner {
  width: 100%;
  aspect-ratio: 21/8;
  background-image: url(images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner {
  width: 1450px;
  height: 100%;
  margin: auto;
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.banner p:first-child {
  font-size: 18px;
  color: white;
  background-color: dodgerblue;
  padding: 5px 10px;
  border-radius: 50px;
}
.banner h2 {
  font-size: 65px;
  color: #282828;
}
.banner .desc {
  font-size: 20px;
  font-weight: 500;
}
.banner button {
  padding: 15px 35px;
  font-size: 19px;
  border: none;
  color: white;
  background-color: #e97000;
  border-radius: 15px;
  transition: all 1s ease;
}
.banner button:hover {
  background-color: black;
}

/* Slider */
.back-slider {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff7ee;
}
.slider {
  width: 100%;
  height: 100px;
}
.slider div {
  display: flex;
}
.slider .img-container {
  padding: 15px 0;
  height: 100px;
}
.slider .img-container img {
  height: 100%;
}

/* Popular brand */
.popular-brands-container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  background-color: #fff7ee;
}
.popular-brands {
  width: 100%;
  height: 3px;
  background-color: #cdcdcd;
  position: relative;
  display: flex;
  justify-content: center;
}
.popular-brands h2 {
  position: absolute;
  font-size: 50px;
  top: -40px;
  background-color: #fff7ee;
  padding: 0 20px;
}

.back-product-container {
  width: 100%;
  background-color: #fff7ee;
}
.product-container {
  width: 1450px;
  margin: auto;
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(6, 1fr);
}
.popular-product-card {
  width: 100%;
  text-align: center;
}
.popular-product-card img {
  width: 100%;
  border-radius: 50%;
}
.popular-product-card h3 {
  font-size: 25px;
  margin: 10px 0;
}
.popular-product-card h3:hover {
  color: #e97000;
}
.popular-product-card p {
  font-size: 19px;
}

/* Product */
.back-product {
  width: 100%;
  background-color: #fff7ee;
}
.title {
  display: flex;
  padding: 50px 0;
  justify-content: center;
  gap: 100px;
}
.title h2 {
  font-size: 50px;
  color: #434343;
  position: relative;
}
.title h2:first-child::after,
.title h2:nth-child(2)::after,
.title h2:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 50px;
  top: 8px;
  right: -50px;
  background-color: #cdcdcd;
  transform: skew(-20deg);
}

.product-container-shopping {
  width: 1450px;
  margin: auto;
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(4, 1fr);
}
.product-card {
  width: 100%;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid #b0b0b0;
}
.product-image {
  width: 100%;
  border-bottom: 1px solid #b0b0b0;
  position: relative;
  overflow: hidden;
}
.product-image img {
  width: 100%;
}
.add-to-cart-btn{
  position: absolute;
  z-index: 1;
  bottom: -50px;
  left: 30px;
  width: 80%;
  font-size: 18px;
  padding: 10px 0;
  border: none;
  background-color: #e97000;
  color: white;
  border-radius: 10px;
  transition: all 0.5s ease;
  opacity: 0;
}
.add-to-cart-btn:hover{
  background-color: black;
}
.product-card:hover .add-to-cart-btn{
  bottom: 10px;
  opacity: 1;
}
.detail {
  padding: 20px;
}
.detail p:first-child {
  font-weight: 600;
  color: #e97000;
}
.detail h3 {
  font-size: 30px;
  color: #282828;
  margin: 7px 0;
}
.detail .desc {
  color: #434343;
  margin-top: 5px;
}
.collection {
  display: flex;
  gap: 10px;
}
.collection img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid rgb(186, 186, 186);
  margin-top: 10px;
}